/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.card__icon-button {
  display: flex;
  max-block-size: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--background-color);
  transition: linear border 0.3s ease;
  cursor: pointer;
  align-items: center;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.core {
  transition: linear fill 0.3s;
  fill: var(--core);
  transition-delay: 0.03s;
}

.heart:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.heart:active .core {
  fill: var(--heart-fill);
  transition: linear fill 0.3s;
}

.main-body {
  fill: transparent;
  transition: linear fill 0.3s;
}

.heart:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.heart:active .main-body {
  fill: var(--heart-fill);
  transition-delay: 0.05s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .core{
  transition: linear 0.3s;
  fill: var(--heart-fill);
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: linear 0.3s 0.05s;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: linear 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: linear 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation-direction: alternate;
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation-direction: alternate;
  animation: opacity 0.3s 0.3s ease-in;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}