/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-fonts), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-variation-settings: 'wgth' var(--text-weight);
}

.header {
  padding: 136px 0 25px 0;
  margin: 101px auto;
  border: 2px solid;
  font-family: var(--accent-fonts), fantasy;
  text-align: center;
  background-color: var(--background-color);
  max-inline-size: clamp(375px, 51vw, 700px);
}

.header__title {
  display: block;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title:focus {
  outline: none;
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block-start: 24px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 11px;
}

.theme-menu__list {
  display: flex;
  max-inline-size: 84px;
  margin-inline-start: 45.25%;
  flex-direction: column;
  align-items: flex-start;
}

.theme-menu__button {
  padding: 0;
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  background-color: var(--accent-color);
  transition: inline-size 0.3s;
  inline-size: 0;
  block-size: 2px;
}


.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button:focus{
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}


.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -15px;
  animation: move 0.5s ease-in-out infinite alternate;
  block-size: 14px;
  inline-size: 14px;;
}

@keyframes move {
  0% {
    left: -19px;
  }
  100% {
    left: -15px;
  }
}

.content {
  margin: auto;
  max-inline-size: clamp(375px, 51vw, 700px);
}

.post {
  margin-block-end: 50px;
  border: 2px solid;
}

.post-title {
  border-bottom: 2px solid;
  padding: 5px 0 4px 10px;
  font-family: var(--main-fonts), sans-serif;
  font-variation-settings: 'wgth' var(--title-weight);
  font-size: 18px;
  background-color: var(--background-color);
}

.post-image {
  display: block;
  object-fit: cover;
  object-position: center;
  max-inline-size: 100%;
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.sepia {
  filter: sepia(70%);
}

.invert {
  filter: invert(0.7);
}

.saturate {
  filter: saturate(5);
}

.grayscale {
  filter: grayscale(0.9);
}

.opacity {
  filter: opacity(0.7);
}

.contrast {
  filter: contrast(200%);
}

.mix-filter {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.post__content {
  border-top: 2px solid;
  padding: 27px 25px 24px;
  background-color: var(--background-color);
}

.post__content-text {
  font-family: var(--main-fonts), sans-serif;
  font-variation-settings: 'wgth' var(--text-weight);
  font-size: 18px;
  line-height: 21px;
}

.post__content-text:last-of-type {
  margin-block-start: 27px;
}

.post__footer {
  margin: 0px auto 103px;
  background-color: #fff;
  block-size: 55px;
  inline-size: clamp(306px, 100%, 335px);
}

.post__content-like {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-block-start: 25px;
}

.button {
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  font-family: var(--accent-fonts), fantasy;
  font-size: 14px;
  background-color: var(--background-color);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  block-size: 100%;
  inline-size: 100%;
}

.button-button:hover {
  color: #fff;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text);
  mix-blend-mode: difference;
}

.save-memory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: 100%;
  block-size: 100%;
}

.floppy {
  color: var(--accent-color);
  color: var(--button-text);
  max-inline-size: 21px;
  mix-blend-mode: difference;
}

.post-label {
  position: relative;
  max-block-size: 696px;
}

.post-label-text {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.25;
  font-family: var(--accent-fonts), fantasy;
  font-size: 14px;
  text-shadow: 0 4px 4px #fff;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .post-label-text {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--stroke-color);
      text-stroke: 1px var(--stroke-color);
  }
}

.dialog {
  position: fixed;
  inset: 0;
  border: 2px solid var(--accent-color); 
  padding: 30px;
  background-color: var(--background-color);
  inline-size: 353px;
}

.dialog::backdrop {
  background: rgba(0,0,0,0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog .floppy {
  color: var(--accent-color);
  mix-blend-mode: normal;
  max-inline-size: 39px;
}

.dialog__content-title {
  color: var(--accent-color);
  font-family: var(--accent-fonts), fantasy;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  cursor: pointer;
  margin-block-start: 30px;
  border: 2px solid var(--accent-color);
  padding: 12.5px 0;
  color: var(--accent-color);
  font-family: var(--accent-fonts), fantasy;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  background-color: var(--background-color);
  inline-size: 100%;
}

@media (width <= 375px) {
  .header {
    padding: 120px 0 25px 0;
  }

  .theme-menu__list {
    margin-inline-start: 41.25%;
  }

  .post__footer {
    margin-block-end: 100px;
    block-size: 84px;
    inline-size: 306px;
  }

  .post-label-text {
    right: 13px;
  }

  .save-memory {
    flex-direction: column;
    padding: 15px 0;
  }

  .floppy {
    max-inline-size: 28px;
  }
}